<div style="text-align:center">
  <h2>#{{ pokemon1?.id }} {{ pokemon1?.name }}</h2>
  <img src="{{ pokemon1?.sprites.frontDefault }}">
  <img src="{{ pokemon1?.sprites.backDefault }}">
  <img src="{{ pokemon1?.sprites.frontFemale }}">
  <img src="{{ pokemon1?.sprites.backFemale }}">
  <img src="{{ pokemon1?.sprites.frontShiny }}">
  <img src="{{ pokemon1?.sprites.backShiny }}">
  <img src="{{ pokemon1?.sprites.frontShinyFemale }}">
  <img src="{{ pokemon1?.sprites.backShinyFemale }}">
  <h4>Altura: {{ pokemon1?.height / 10 }}m</h4>
  <h4>Peso: {{ pokemon1?.weight / 10 }}kg</h4>
  <h4>Tipos: {{ pokemon1?.types.type1 }} / {{ pokemon1?.types.type2 }}</h4>
  <h4>Exp. base: {{ pokemon1?.baseExperience }}</h4>

  <h2>#{{ pokemon2?.id }} {{ pokemon2?.name }}</h2>
  <img src="{{ pokemon2?.sprites.frontDefault }}">
  <img src="{{ pokemon2?.sprites.backDefault }}">
  <img src="{{ pokemon2?.sprites.frontFemale }}">
  <img src="{{ pokemon2?.sprites.backFemale }}">
  <img src="{{ pokemon2?.sprites.frontShiny }}">
  <img src="{{ pokemon2?.sprites.backShiny }}">
  <img src="{{ pokemon2?.sprites.frontShinyFemale }}">
  <img src="{{ pokemon2?.sprites.backShinyFemale }}">
  <h4>Altura: {{ pokemon2?.height / 10 }}m</h4>
  <h4>Peso: {{ pokemon2?.weight / 10 }}kg</h4>
  <h4>Tipos: {{ pokemon2?.types.type1 }} / {{ pokemon2?.types.type2 }}</h4>
  <h4>Exp. base: {{ pokemon2?.baseExperience }}</h4>

</div>
